<div class="container py-4 py-md-5 px-4 px-md-3 text-body-secondary">
    <div class="row justify-content-between flex-wrap">
        <div class="col-6 mb-3">
            <ul class="list-unstyled small">
                <li class="mb-2">
                    This is a Flask-based web application that allows users to translate subtitles to any language using
                    the Google Translate API.
                </li>
            </ul>
        </div>
        <div class="col-6 col-lg-2 offset-lg-1 mb-3">
            <h5>Contact</h5>
            <ul class="list-unstyled">
                <li class="mb-2">0921 314 1774</li>
                <li class="mb-2">alirahmaniof01@gmail.com</li>
                <li class="mb-2"><a href="https://github.com/alirahmnicode" dideo-checked="true">github</a></li>
                <li class="mb-2"><a href="https://www.linkedin.com/in/ali-rahmani-30747b222/" dideo-checked="true">Linkdin</a></li>
            </ul>
        </div>
        <div class="col-6 col-lg-2 mb-3">
            <h5>Projects</h5>
            <ul class="list-unstyled">
                <li class="mb-2"><a href="https://github.com/twbs/bootstrap" dideo-checked="true">Bootstrap 5</a></li>
                <li class="mb-2"><a href="https://github.com/twbs/bootstrap/tree/v4-dev" dideo-checked="true">Bootstrap
                        4</a></li>
                <li class="mb-2"><a href="https://github.com/twbs/icons" dideo-checked="true">Icons</a></li>
                <li class="mb-2"><a href="https://github.com/twbs/rfs" dideo-checked="true">RFS</a></li>
                <li class="mb-2"><a href="https://github.com/twbs/examples/" dideo-checked="true">Examples repo</a></li>
            </ul>
        </div>
    </div>
</div>