<header>
    <section class="pt-5 pb-5 mt-0 align-items-center d-flex bg-dark" style="min-height: 100vh; background-size: cover; 
       background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);">
        <div class="container" dir="rtl">
            <div class="row align-items-center d-flex justify-content-between">
                <div class="col-12 col-md-6 pb-5 order-2 order-sm-2 ">
                    <h1 class="  text-white font-weight-bold mb-3 mt-5 display-3">سابچی فای</h1>
                    <p class="lead text-white">به سابچی فای خوش آمدید، راه حل نهایی برای تمام نیازهای ترجمه زیرنویس
                        شما! وب سایت ما یک پلت فرم ساده و کاربرپسند است که با استفاده از آن میتوانید زیرنویس ها را به
                        هر زبانی که میخواهید ترجمه کنید.</p>
                    <div class=" d-flex mt-3 mb-1">
                        <a class="btn btn-primary btn-raised text-uppercase btn-lg  mt-md-3 "
                            href="{{ url_for('views.translate_view') }}" role="button">شروع کنید</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>