{% extends 'base.html' %}

{% block title %}
<title>ترجمه زیرنویس</title>
{% endblock title %}

{% block content %}
<div class="container d-flex flex-column justify-content-center mt-5 flex-row">
    <div>
        <div class="alert alert-info" role="alert" dir="rtl">
            <h4 class="alert-heading">توجه!</h4>
            <p>
            <ul>
                <li>فقط فایل های srt پشتیبانی میشود</li>
                <li>بعد از شروع ترجمه از صفحه خارج نشوید</li>
                <li>بعد از تمام شدن پروسه ترجمه فایل به صورت خودکار دانلود مشیود</li>
                <li>بعد از خارج شدن صفحه به فایل دسترسی نخواهید داشت</li>
            </ul>
            </p>
        </div>
    </div>
    <div class="form">
        <form method="post" dir="rtl" enctype="multipart/form-data">
            <!-- select language -->
            <div class="mb-3">
                <p>ترجمه به زبان؟</p>
                <select name="language" class="form-select" aria-label="Default select example" required>
                    <option selected>انتخاب زبان</option>
                    {% for language, code in languages.items() %}
                    <option value="{{code}}">{{language}}</option>
                    {% endfor %}
                </select>
            </div>
            <!-- select file -->
            <div class="mb-3">
                <input type="file" name="file" id="subtitle" required>
            </div>
            <!-- tow language -->
            <div class="mb-3">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="bilingual" name="bilingual">
                    <label class="form-check-label" for="bilingual">دو زبانه</label>
                </div>
            </div>
            <div class="mb-3">
                <button>s</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}